<!DOCTYPE html>
<html>
    <head>
        <title>Savedots</title>
        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <!-- Load polyfills to support older browsers -->
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
        <!--Axios-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div id="safewrapper">
            <img src= {{ url_for('static', filename = 'res/safe.png') }} width="64" height="64" border="0">
            <b-button variant="outline-primary" value="Home" v-on:click="{{ url_for('index') }}">Home</b-button>
        </div>
        
        {%block body_block%}
        {%endblock%}

        <!--FOOTER-->
        <footer class="footer">
            <div style="text-align: center;margin-top: 50px;background-color: rgb(126, 115, 67)">
                <p style="margin-bottom:0;">
                <strong>GPGdotgetter project </strong> by Karlo (<a href="https://github.com/kelj0">kelj0</a>) Kegljevic, 2019</a>.
                </p>
            </div>
        </footer> 
    </body>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="../static/index.js"></script>
</html>
