{% extends "base.html" %}

{% block body_block %}
<div id="app">
    {% if session['logged_in'] %}
        <p>Welcome {{ session['email'] }}</p>
        <button id="btn_dotfiles" v-on:click="dotfiles">Dotfiles</button>
        <button id="btn_logout" v-on:click="logout">Logout</button>
    {% else %}
    <div id="login">
        <ul>
            <li><input type="text" id='input_email_login' name='email' placeholder="Email"></li>
            <li><input type="password" id='input_password_login' name='password' placeholder="Password"></li>
            <li><b-button variant="success" value="Login" v-on:click="login">Login</b-button></li>
            <p v-if="response != null" id="p_response_login"><strong>[[ response ]]</strong></p>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}